const char* ssid = "xxxxxxxx";                                          // wifi ssid
const char* password = "xxxxxxxx";                                      // wifi password

#define BOTtoken "xxxxxxxxxx:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"       // bot token on BotFather
#define CHAT_ID "xxxxxxxxx"                                             // chat id on IDBot