const char* ssid = "xxxxxxxx";                                          // wifi ssid
const char* password = "xxxxxxxx";                                      // wifi password

float box_high = xx;                                                    // value default to max box_high
int minVoltage = xxx;                                                   // value davault to min voltage

#define BOTtoken "xxxxxxxxxx:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"       // bot token on BotFather
#define CHAT_ID "xxxxxxxxx"                                             // chat id on IDBot